h1 {
  font-family: 'Open Sans', sans-serif;
}

img.trello {
  width: 20%;
  height: 20%;
  display: block;
}

.delcard {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 12px;
  right: 10px;
}

.addcard button {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  outline: none;
  font-size: 0.8rem;
  margin-top: 5px;
}

.addcard {
  padding: 5px;
  width: 30%;
}

.addcard input {
  padding: 10px;
  border: 1px solid #aaa;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.widget {
  min-height: 50vh;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  width: 50%;
}

.file-container {
  width: 200px;
  height: 40px;
  position: relative;
}

.overlapped {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; margin: 0;
  opacity: 0.1;
  width: 100%;
}

.overlap {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; margin: 0;
  width: 100%;
  background: #eee;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
}

.text-preview {
  height: 200px;
  width: 100%;
  border: 1px dashed black;
  border-radius: 5px;
}

.drop-area {
  height: 200px;
  width: 100%;
  border: 1px dashed red;
  border-radius: 5px;
}

.col {
  width: 30%;
  padding: 5px;
}

.col button {
  margin-left: 5px;
}

.items {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.items-item {
  border: 1px solid #999;
  padding: 10px;
  margin-bottom: -1px;;
  cursor: pointer;
  list-style-type: none;
  position: relative;
}
.items-item.dragged {
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background: #fff;
  cursor: grabbing;
}

.hidden {
  opacity: 0.0;
}
